@page "/Curriculo-Geovana"

<link rel="stylesheet" href="Geovana.css" />

<div class="curriculo-container">
    <h1>Meu Currículo</h1>

    <section>
        <h2>Informações Pessoais</h2>
        <p><strong>Nome:</strong> Geovana Luiz Santos</p>
        <p><strong>Email:</strong> geovanaluizls2007@gmail.com</p>
        <p><strong>Telefone:</strong> (69) 99274-1672</p>
    </section>

    <section>
        <h2>Objetivo</h2>
        <p>Conseguir uma oportunidade para aprender e crescer como desenvolvedora web.</p>
    </section>

    <section>
        <h2>Formação</h2>
        <ul>
            <li>Curso Técnico em Informática - Instituto Federal de Rondônia - IFRO (2023-2025)</li>
        </ul>
    </section>

    <section>
        <h2>Habilidades</h2>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>C#</li>
            <li>GitHub</li>
        </ul>
    </section>
</div>
